@page "/register"

<div class="row">
    <div class="col-md-4">
        @if (Input is not null)
        {
            <EditForm Model="Input" OnValidSubmit="@Registration">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control" @bind="@Input.Email" />
                    <ValidationMessage For="@(() => Input.Email)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password" @bind="@Input.Password" />
                    <ValidationMessage For="@(() => Input.Password)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="ConfirmPassword" @bind="@Input.ConfirmPassword" />
                    <ValidationMessage For="@(() => Input.ConfirmPassword)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <InputText class="form-control" placeholder="LastName" @bind-Value="@Input.LastName"></InputText>
                    <ValidationMessage For="@(() => Input.LastName)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <InputText class="form-control" placeholder="FirstName" @bind-Value="@Input.FirstName"></InputText>
                    <ValidationMessage For="@(() => Input.FirstName)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <InputText class="form-control" placeholder="Address" @bind-Value="@Input.Address"></InputText>
                    <ValidationMessage For="@(() => Input.Address)"></ValidationMessage>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </EditForm>
        }
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>