@page "/appointmentlist"

@inject IRepositoryAppointment _db
@attribute [Authorize(Roles = StaticData.AdminRole)] 
    @*строго через запятую*@

@if (appointments is null)
{
    <div class="row">
        <div class="col text-center"> <img height="200" src="https://cdn.dribbble.com/users/108183/screenshots/5331825/loading_xxi.gif" /></div>
    </div>
}
else if (appointments.Count > 0)
{@if (!IsConfirmDelete)
    {

        <div class="row table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>CustomerName</th>
                        <th>CustomerPhone</th>
                        <th>Email</th>
                        <th>AppointmentDate</th>
                        <th>IsConfirmed</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in appointments)
                    {
                        <tr>
                            <td>@item.CustomerName</td>
                            <td>@item.CustomerPhone</td>
                            <td>@item.Email</td>
                            <td>@item.AppointmentDate</td>
                            <td>@(item.IsConfirmed ? "Yes": "No")</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button @onclick="(() => Confirm(item))" class="btn btn-outline-primary">Confirm</button>
                                    <button @onclick="(() => Delete(item))" class="btn btn-outline-danger">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="modal fade show" id="PopModalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display:block" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-danger" id="exampleModalLongTitle">Уверены, что хотите удалить?</h3>
                        <button type="button" class="close" @onclick="ShowHideConfirmDelte" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                            <h4 class="text-dark">Заказ будет удален без возможности восставновления</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div><button @onclick="No" class="btn btn-secondary form-control">No</button></div>
                        <button type="button" class="btn btn-danger" @onclick="SubmitDelete" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
<div class="row">
    <div class="col text-center"> <img height="200" src="https://cdn.dribbble.com/users/1231865/screenshots/11157048/media/bc9427646c632ded563ee076fdc5dfda.jpg?compress=1&resize=800x600" /></div>
</div>
}

@code {
    List<Appointment> appointments;
    bool IsConfirmDelete = false;
    Appointment SelectedAppointment;

    protected override async Task OnInitializedAsync()
    {
        appointments = await _db.GetAllAppointmentsAsync();
    }
    async Task Confirm(Appointment appointment)
    {
        appointment.IsConfirmed = true;
        await _db.UpdateAppointmentAsync(appointment);

    }
    void Delete(Appointment appointment)
    {
        SelectedAppointment = appointment;
        ShowHideConfirmDelte();
    }
    async Task SubmitDelete()
    {
        var result = false;
        result = await _db.DeleteAppointmentAsync(SelectedAppointment.Id);
        appointments = await _db.GetAllAppointmentsAsync();
        if (result)
            ShowHideConfirmDelte();
    }
    void ShowHideConfirmDelte() => IsConfirmDelete = !IsConfirmDelete;
    void No() => ShowHideConfirmDelte();
}
